@import "normalize.css";

:root {
  --text-color: #434455;
  --background-color: #ffffff;
  --logo-color: #4d5ae5;
  --logo-span-color: #2e2f42;
  --footer-text: #f4f4fd;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: rgba(46, 47, 66, 1);
}

/* HEADER */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-color);
  margin-right: 76px;
}

.link {
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: #404bbf;
}

.logospan {
  color: var(--logo-span-color);
}

.navlink {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--logo-span-color);
  padding: 24px 0;
}

.adreslink {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

header .adress {
  font-style: normal;
}
/* HEADER--placing */
.headercontainer {
  border: 1px solid red;
  display: flex;
}
.headernav {
  display: flex;
  align-items: center;
}
.headernav .list {
  display: flex;
  gap: 40px;
}
.adress .list {
  display: flex;
  gap: 40px;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

/* HERO SECTION */
.herosection {
  background-color: var(--logo-span-color);
}

.mainheader {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.herobutton {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.herobutton:hover,
.herobutton:focus {
  background-color: #404bbf;
}
.list {
  list-style: none;
}

/* SECTION1 */
.featuressection .list {
  list-style: none;
}

.headerthree {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--logo-span-color);
}

.paragraph {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

/* SECTION2 */
.headertwo {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--logo-span-color);
}

/* SECTION3 */
.ourteamsection {
  background-color: #f4f4fd;
}

.teammember {
  background-color: #ffffff;
}

/* FOOTER */
.footer {
  background-color: var(--logo-span-color);
}

.footer .logospan {
  color: #f4f4fd;
}

.footer .paragraph {
  color: var(--footer-text);
}

/* PORTFOLIO */
.portfolio .list {
  list-style: none;
}

.portfolio .list .headertwo {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--logo-span-color);
  text-align: left;
}

.btn {
  background-color: var(--footer-text);
  color: var(--logo-color);
  cursor: pointer;
  border: none;
  font-size: 16px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.btn:hover,
.btn:focus {
  background-color: #404bbf;
  color: #ffffff;
}
